.translating 
{
	background-color: #eee;
	background-image: url('process-working.gif');
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 1;
}

.status.hide {
	display: none;
}

.status.error {
	padding: .4em;
	margin-bottom: .5em;
	background: #FBE3E4;
	color: #8a1f11;
	border: 2px solid #FBC2C4;
}